body{

margin:0;
font-family:Segoe UI;
background:#f5f7fb;

}

header{

background:#075E54;
padding:20px;
color:white;

}

.card{

width:700px;

margin:auto;

margin-top:60px;

background:white;

padding:40px;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,.15);

}

button{

background:#25D366;

border:none;

padding:15px;

width:220px;

margin-top:20px;

font-size:18px;

cursor:pointer;

border-radius:8px;

color:white;

}

#barra{

margin-top:40px;

height:28px;

background:#ddd;

border-radius:30px;

overflow:hidden;

}

#progresso{

width:0%;

height:100%;

background:#25D366;

transition:.3s;

}

table{

width:100%;
margin-top:30px;
border-collapse:collapse;

}

td,th{

border:1px solid #ddd;
padding:10px;

}

th{

background:#075E54;
color:white;

}